.bg {
  background-image: url("https://static.pexels.com/photos/248515/pexels-photo-248515.png");
  height: 450px;
  width: 100%;
  position: absolute;
  z-index: -1;
  opacity: 68%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body {
  background: gray;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1em;
  text-align: center;
  line-height: 1.5;
  margin: 0;
}
#header {
  text-align: center;
}
#header h1 {
  padding-top: 100px;
  padding-bottom: 0%;
}
#header p {
  margin-left: 20%;
  margin-right: 20%;
}
.btn {
  background: rgb(56, 55, 55);
  border: 1px solid gray;
  padding: 1.1em;
  margin-top: 5px !important;
}
.btn:hover {
  background: white;
  color: black;
  cursor: grabbing;
}
