.bg {
  background-image: url("https://static.pexels.com/photos/248515/pexels-photo-248515.png");
  height: 450px;
  width: 100%;
  position: absolute;
  z-index: -1;
  opacity: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body {
  margin: 0;
  background: #333;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1em;
  text-align: center;
  line-height: 1.5;
}
h2 {
  margin-top: 0;
  padding: 1em;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
#header {
  min-height: 450px;
  text-align: center;
}
#header h1 {
  margin: 0;
  padding-top: 100px;
  padding-bottom: 0%;
}
#header p {
  margin-bottom: 50px;
  margin-left: 20%;
  margin-right: 20%;
}
.btn {
  background: rgb(56, 55, 55);
  border: 1px solid gray;
  padding: 1.1em;
}
.btn:hover {
  background: white;
  color: black;
  cursor: grab;
}
#section-a {
  background: #eaeaea;
  color: #333;
  padding-bottom: 2em;
}

#section-b {
  display: grid;
  padding: 2em;
}
#section-b ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}
#section-b li {
  background: #fff;
  color: #333;
  width: 31%;
}
#section-c {
  background-color: white;
  color: black;
  padding: 1em 13em 2em 13em;
}
#section-d {
  display: flex;
}
#section-d .box:first-child {
  background: #2690d4;
  width: 125%;
}
#section-d .box {
  padding: 1em;
}
#footer {
  background: black;
  color: white;
  display: flex;
  padding: 2em;
}
#footer div:last-child {
  width: 100%;
}
#footer div:first-child {
  width: 100%;
}
